<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Kanji Quiz</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            N5
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" (click) = "setLevelN51()">Bài 1 (52 từ)</a>
            <a class="dropdown-item" (click) = "setLevelN52()">Bài 2 (52 từ)</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            N4
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" (click) = "setLevelN41()">Bài 1 (50 từ)</a>
            <a class="dropdown-item" (click) = "setLevelN42()">Bài 2 (50 từ)</a>
            <a class="dropdown-item" (click) = "setLevelN43()">Bài 3 (50 từ)</a>
            <a class="dropdown-item" (click) = "setLevelN44()">Bài 4 (31 từ)</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            N3
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" (click) = "setLevelN31()">Bài 1 (50 từ)</a>
            <a class="dropdown-item" (click) = "setLevelN32()">Bài 2 (50 từ)</a>
            <a class="dropdown-item" (click) = "setLevelN33()">Bài 3 (50 từ)</a>
            <a class="dropdown-item" (click) = "setLevelN34()">Bài 4 (50 từ)</a>
            <a class="dropdown-item" (click) = "setLevelN35()">Bài 5 (50 từ)</a>
            <a class="dropdown-item" (click) = "setLevelN36()">Bài 6 (50 từ)</a>
            <a class="dropdown-item" (click) = "setLevelN37()">Bài 7 (50 từ)</a>
            <a class="dropdown-item" (click) = "setLevelN38()">Bài 8 (50 từ)</a>
            <a class="dropdown-item" (click) = "setLevelN39()">Bài 9 (50 từ)</a>
            <a class="dropdown-item" (click) = "setLevelN310()">Bài 10 (50 từ)</a>
            <a class="dropdown-item" (click) = "setLevelN311()">Bài 11 (50 từ)</a>
            <a class="dropdown-item" (click) = "setLevelN312()">Bài 12 (30 từ)</a>
          </div>
        </li>
        <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              N2
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Bài 1 (50 từ)</a>
              <a class="dropdown-item" href="#">Bài 2 (50 từ)</a>
            </div>
          </li>
      </ul>
    </div>
  </nav>
<body>
 <app-quizer></app-quizer>
</body>

</html>